docker {
    enabled    = true
    runOptions = '--platform linux/amd64'
}

process {
    cpus          = 2
    memory        = '4 GB'
    errorStrategy = 'retry'
    maxRetries    = 2

    withName: 'QC' {
        cpus   = 2
        memory = '2 GB'
        container = 'staphb/fastqc:0.12.1'
    }
    withName: 'GENERATE_REPORT' {
        cpus   = 1
        memory = '1 GB'
    }
}
